h1 {
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

button {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color:antiquewhite;
}

.dados {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

textarea{
   color: black;
   font-family:'Courier New', Courier, monospace
}

body {
    background-color: darkgray;
}

.a {
    background-color: darkgray;
    font-family: 'Courier New', Courier, monospace;
}

.b {
    background-color: darkgray;
    font-family: 'Courier New', Courier, monospace;
}

.c {
    background-color: darkgray;
    font-family: 'Courier New', Courier, monospace;
}